*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html,body{
 width: 100%;
height: 100%;
}

main{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
}

form{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: #e7e2e2;
    border-radius: 10px;
}

h1{
    padding: 20px;
}

input{
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
}

input:focus{
    border-color: rgb(0, 110, 255);
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

button{
    padding: 10px 20px;
    background: #83b8ff;
    border-radius: 10px;
}

button:hover{
    background: #007dc5;
    color: #e7e2e2;
    scale: 1.2;
}