*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html,body{
 width: 100%;
height: 100%;
}

nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

nav .logo{
    font-size: 18px;
    cursor: pointer;
}

nav .links{
    display: flex;
    gap: 20px;
    font-size: 13px;
    cursor: pointer;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
}

.left{
    width: 70%;
    height: 100%;
}

.left .heading{
    width: 100%;
    border-bottom:solid 1px;
    margin: 10px;
}
.left .imgc{
    display: flex;
}
.left .textp{
    margin: 10px;
    letter-spacing: 1px;
    line-height: 20px;
}

.left .imge{
    width: 100%;
    height: 100%;
}

.left p{
    padding: 10px;

}

.side{
    width: 30%;
    height: 100%;
    border-left: solid 1px;
    margin: 10px;
}

.side div{
    margin: 10px;
    border-bottom: solid 1px;
}

.side div img{
    width: 100%;
    height: 100%;
    padding: 20px;

}

span{
    font-weight: bolder;
}